<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beloved.system.mapper.SysDictTypeMapper">
    
    <select id="querySysDictTypeByType" resultType="sysDictType">
        select * from sys_dict_type
        where state = 1 and dict_type = #{dictType}
    </select>

    <resultMap id="sysDictTypeDto" type="sysDictTypeDto">
        <collection property="dictDataList" ofType="sysDictData"
                    select="com.beloved.system.mapper.SysDictDataMapper.queryListByDictId"
                    column="{dictId = dict_id}"/>
    </resultMap>
    <select id="querySysDictTypeDataByType" resultMap="sysDictTypeDto">
        select * from sys_dict_type
        where state = 1 and dict_type = #{dictType}
    </select>
    
</mapper>
