<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beloved.system.mapper.SysRoleMenuMapper">

    <delete id="removeByMenuId" parameterType="long">
        delete from sys_role_menu where menu_id = #{menuId}
    </delete>

    <delete id="removeByRoleId" parameterType="long">
        delete from sys_role_menu where role_id = #{menuId}
    </delete>
    
    <select id="getRoleAuthMenus" parameterType="long" resultType="long">
        select menu_id
        from sys_role_menu
        where role_id = #{roleId}
    </select>

    <insert id="batchSaveByRoleId" parameterType="roleDto">
        insert into sys_role_menu(role_id, menu_id) values 
        <foreach collection="menus" item="menuId" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>
</mapper>
